


//.modal-wrapper
    .modal-container
        .container

//.modal-message-wrapper
    .modal.modal-message.modal-small
        .done
            .close-button: .fi.flaticon-close-circle
            .form-overlay
                .title.mt0 Заявка отправлена
                .description Наш менеджер звяжется с вами в ближайшее время.