.product-description--header
	position: relative
	font-size: 18px
	&:after
		content: ''
		width: 4px
		position: absolute
		top: 10px
		bottom: 10px
		left: calc(50% - 2px)
		background: $c-accent

		@media (max-width: $grid-lg)
			display: none


	p
		margin: 0