.logo-1 {
  margin-top: 150px;
  margin-bottom: 150px;
}
.logo-1 img {
  max-height: 320px;
}
.links {
  text-align: center;
  text-transform: uppercase;
  max-width: 1200px;
  margin: 0 auto 150px auto;
}
.links .link {
  display: inline-block;
  margin: 0 20px 20px 20px;
}
.logo-2 {
  margin: 150px 0;
}
.logo-2 img {
  max-height: 150px;
}
.links-2 {
  margin-bottom: 50px;
}
.block-3 {
  margin: 100px 0;
}
.block-4 {
  position: relative;
}
.block-4::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 50px solid rgba(0,0,0,0.3);
  border-left-width: 80px;
  border-right-width: 80px;
  pointer-events: none;
}
