-
    var urlImgProducts = "img/products/product-",
        urlImgServices = "img/products/product-",
        urlImgCategory = "img/products/product-",
        urlImgArticle = "img/products/product-",

        imgLogo1 = "img/site-logo-1.png",
        imgLogo2 = "img/site-logo-2.png"
