.product-card {
  display: block;
  position: relative;
  overflow: hidden;
  background: $c-light;
  border: 1px solid $c-neutral;
  margin: 100px auto;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}
.product-card__header {
  height: 200px;
  padding: 20px;
  overflow: hidden;
}
.product-card__body {
  padding: 20px;
}
.product-card__footer {
  padding: 20px;
}
.product-card__footer .btn {
  width: 100%;
}
.product-card__delete-product {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  height: 50px;
  background-color: $c-neutral;
  cursor: pointer;
}
.product-card__img-link {
  display: block;
  height: 100%;
  overflow: hidden;
  -webkit-user-drag: none;
}
.product-card__img {
  display: block;
  margin: 0 auto;
  height: 100%;
}
.product-card__title {
  margin-bottom: 10px;
}
.product-card__title a {
  font-weight: bold;
  color: $c-dark--dark;
}
.product-card__price {
  font-weight: bold;
  margin-bottom: 20px;
}
.product-card__description {
  font-size: 14px;
}
