extends _layout/main


block main

    .container


        .row.justify-content-center.py-5
            .col-auto
                .page-title Ледозаливочный комбайн

            .col-lg-10
                .product-description--header
                    .row
                        .col-lg-6.pr-lg-4.text-lg-right.mb-3.mb-lg-0
                            p Новейшая модель ледозаливочкого комбайна, конструкции и производства ИСК «Арена» позволяет проводить подготовку льда самого высокого качества. Машина спроектирована и построена из комплектующих деталей отечественного производства, что позволяет существенно повысить ремонтопригодность и снизить эксплуатационные затраты.

                        .col-lg-6.pl-lg-4.text-lg-left.mb-3.mb-lg-0
                            p Существует несколько производителей ледозаливочных машин, которые успели закрепиться на российском рынке. Но все это – иностранные производители и, как следствие, такие машины имеют высокую стоимость, а также возникают сложности при поломках, так как все запасные части поставляются «под заказ», что приводит к простою машины, при этом стоимость запасных частей также является высокой.


    .bg--c-main.bg--stripped.py-5
        .container.mb-5
            .article-content
                .row.justify-content-center
                    .col-lg-8.col-xl-6
                        .scroll
                            p Мы предлагаем принципиально новую ледозаливочную машину, вобравшую в себя самые лучшие инженерные решения мировых производителей и построенную из отечественных комплектующих, которые можно приобрести практически в любом магазине автозапчастей.
                            p В движение машину приводит гидростатическая трансмиссия. Данное решение позволяет осуществить установку на машину ДВС с объемом двигателя 1,6L, что положительно сказывается на расходе топлива. При этом обеспечивается стабильно высокий крутящий момент, а работа навесных агрегатов не зависит от оборотов двигателя, что исключает вероятность остановки шнеков при высокой нагрузке на разворотах машины при заливке льда. На разработанную нашими конструкторами раму машины устанавливаются мосты от УАЗа и ДВС от Лады. Данные узлы и агрегаты умеют качественно обслуживать и ремонтировать практически в любом автосервисе, при этом все необходимые запасные части всегда есть в наличии, что (значительно сокращает продолжительность ремонта) сводит время ремонта к считанным часам.
                            p Автоматическая система управления напором воды, в зависимости от скорости движения и глубины реза (завязанная с электрической регулировкой глубины реза), позволяет получать стабильно качественную ледовую поверхность при каждой заливке. При этом навыки водителя сводятся только к требованию управлению движением машины. Вся информация о работе и состоянии машины выводится на сенсорную панель, с которой и производится управление рабочими органами.

        .row.justify-content-center
            .col-xl-8
                +carousel(10,3445)
                    +a("/#"): +imgProduct


    .bg--c-neutral.py-5
        .container
            .row
                .col-lg-6.col-xl-5.mb-4
                    .h2.font-weight-bold Вы можете скачать презентацию и связаться с нами с помощью формы

                    +link("c-accent","fa-angle-right") Скачать презентацию

                    +agreement.c-dark.mt-3

                .col-lg-6.col-xl-6.offset-xl-1.mb-4
                    form.form
                        .row
                            .col-sm-6.mb-3
                                +input("c-light")(placeholder="Ваше имя").fluid
                            .col-sm-6.mb-3
                                +input("c-light")(placeholder="Ваше телефон").fluid
                            .col-12.mb-3
                                +textarea()(placeholder="Оставьте комментарий").fluid
                            .col-12.mb-3
                                +btn("c-accent").fluid Отправить сообщение