header.site-header

    .container

        .row.justify-content-between.align-items-center
            .col-3.mt-2.mb-2
                +search
            .col-auto.mt-2.mb-2
                +a("tel:83852344345").h6.font-weight-bold 8 #[span.muted (3852)] 34-43-45


    .main-menu-line
        .container
            .row.align-items-center.justify-content-center
                .col-xl-5.text-right
                    nav.main-menu
                        .row.no-gutters.flex-nowrap.justify-content-end
                            .col-auto: +a("/article") О компании
                            .col-auto: +a("/article") Проектирование
                            .col-auto: +a("/article") Строительство
                .col-xl-2.align-self-start.position-relative
                    +a("/index").site-logo: +img(imgLogo1)
                .col-xl-5.text-left
                    nav.main-menu
                        .row.no-gutters.flex-nowrap
                            .col-auto: +a("/article") Оборудование
                            .col-auto: +a("/article") Калькулятор
                            .col-auto: +a("/article") Контакты

    .text-center.py-5
        .category-title.py-5 Товар