include ../_elements/_vars
include ../_elements/_interactive
include ../_elements/_content

include ../_components/_cards

doctype html
html(lang='ru')

    include ../_layout/_head


    body


        include ../_layout/_header

        main
            block main
                .container
                    p main

        include ../_layout/_footer

        include ../_elements/_modals

        include ../_elements/_scripts