extends _layout/main


block main

    .container

        .logo-1.text-center
            img(src="img/ap_l.svg")


    .links.links-1
        .link: span Пластиковые контейнеры с крышкой
        .link: span Пластиковая тара с впаяной этикеткой (IML)
        br
        .link: span Пластиковые контейнеры под запайку
        .link: span Пластиковая тара для консервирования (ПКБ)
        br
        .link: span Пластиковая тара для укупоривания металлической крышкой (ПКБ)

    hr

    .container
        .logo-2.text-center
            img(src="img/pk ap_l.svg")

    .links.links-2
        .link: span Проектировка автоматизированных линий
        br
        .link: span Роботы-манипуляторы для тпа
        .link: span Шнековые дозаторы для тпа
        br
        .link: span Производство термопластавтоматов (тпа)

    hr

    .container

        .block-3.text-center
            .headers
                h1 ооо «алтайпласт» \ llc «altayplast»
                h2 www.altplast.ru | www.алтайпласт.рф | www.altayplast.com

            .row
                .col-6.text-left
                    ul
                        li 656031, Россия
                        li Алтайский край
                        li город Барнаул
                        li улица Силикатная, 20
                        li: br
                        li пн-пт \ 5:30-13:30 (МСК)
                        li сб-вс \ Выходной

                .col-6.text-right
                    ul
                        li info@altplast.ru
                        li: br
                        li +7 (3852) 993-000
                        li 8-800-700-93-91


    .block-4
        .map <a class="dg-widget-link" href="http://2gis.ru/barnaul/firm/563478234404206/center/83.74440193176271,53.334691495059914/zoom/15?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Барнаула</a><div class="dg-widget-link"><a href="http://2gis.ru/barnaul/center/83.743778,53.333936/zoom/15/routeTab/rsType/bus/to/83.743778,53.333936╎Алтайпласт, ООО, торгово-производственная компания?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Алтайпласт, ООО, торгово-производственная компания</a></div><script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":"100%","height":600,"borderColor":"#a3a3a3","pos":{"lat":53.334691495059914,"lon":83.74440193176271,"zoom":17},"opt":{"city":"barnaul"},"org":[{"id":"563478234404206"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>


    .copyright
        span copyright (C) 2015г. <br> ООО «АЛТАЙПЛАСТ»