// colors

$c-light 			= #fff
$c-neutral--light 	= #fafafa
$c-neutral 			= #f5f5f5
$c-neutral--dark 	= #ddd
$c-dark--light 		= #555
$c-dark 			= #444
$c-dark--dark 		= #333

$c-accent			= #4a92ba
$c-main				= #01384b

// fonts

$font-default = arial