$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-circle-down: "\e900";
$icon-arrow-circle-left: "\e901";
$icon-arrow-circle-right: "\e902";
$icon-arrow-circle-up: "\e903";
$icon-arrow-down: "\e904";
$icon-arrow-left: "\e905";
$icon-arrow-right: "\e906";
$icon-arrow-up: "\e907";
$icon-close: "\e908";
$icon-play: "\e909";
$icon-star-full: "\e90a";
$icon-star-half: "\e90b";

