$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-angle-left: "\e900";
$icon-angle-right: "\e901";
$icon-angle-up: "\e902";
$icon-arrow-left: "\e903";
$icon-arrow-right: "\e904";
$icon-bars: "\e905";
$icon-calendar: "\e906";
$icon-check: "\e907";
$icon-clock: "\e908";
$icon-close: "\e909";
$icon-comment: "\e90a";
$icon-cubes: "\e90b";
$icon-envelope: "\e90c";
$icon-fb: "\e90d";
$icon-insta: "\e90e";
$icon-joystick: "\e90f";
$icon-layers: "\e910";
$icon-list: "\e911";
$icon-map-marker: "\e912";
$icon-note: "\e913";
$icon-phone: "\e914";
$icon-play: "\e915";
$icon-share: "\e916";
$icon-star-empty: "\e917";
$icon-star-full: "\e918";
$icon-star-half: "\e919";
$icon-terminal: "\e91a";
$icon-users: "\e91b";
$icon-video: "\e91c";
$icon-vk: "\e91d";
$icon-yt: "\e91e";
$icon-angle-down: "\e91f";

