.logo-1
	margin-top: 150px
	margin-bottom: 150px
	img
		max-height: 320px


.links
	text-align: center
	text-transform: uppercase
	max-width: 1200px
	margin: 0 auto 150px auto
	.link
		display: inline-block
		margin: 0 20px 20px 20px
		span
			border-bottom: 1px solid rgba(#fff,.2)



.logo-2
	margin: 150px 0
	img
		max-height: 150px

.links-2
	margin-bottom: 150px

.block-3
	margin: 150px 0

.block-4
	position: relative
	margin-bottom: 150px
	&::before
		content: ''
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		border: 50px solid rgba(#000,.3)
		border-left-width: 80px
		border-right-width: 80px
		pointer-events: none


.copyright
	text-align: center
	margin-bottom: 100px