.carousel
	.carousel__item
		min-width: 200px
		min-height: 200px
		background: c-neutral

		img
			width: auto
			

.owl-carousel
	.owl-stage-outer
		overflow: visible

	.owl-item
		transition: width .3s, opacity .3s
		&:not(.active)
			opacity: 0.1