input,select,textarea
	border: none
	background: none
	outline: none !important
	padding: 10px 20px
	background: $c-light

textarea
	min-height: 150px


.search
	position: relative

	input
		color: $c-light
		background: rgba($c-light,.2)
		&::placeholder
			color: rgba($c-light,.5)

	.btn
		position: absolute
		top: 0
		right: 0
		bottom: 0
		background: none