a
	color: inherit
	text-decoration: none

	&:hover, &:visited, &:active
		color: inherit
		text-decoration: none


	.icon,.fa
		&:first-child
			margin-right: 10px
		&:last-child
			margin-left: 10px

		&:first-child:last-child
			margin: 0